# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/
venv/
env/

# Editor/OS
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Data / outputs (adjust to taste)
*.ttl
*.ttl.gz
*.csv
*.log

#Notebooks
.ipynb_checkpoints/

# Test functions
hydroturtle/test_fuctions.py
structure.txt